<div class="table_frame">

    <div class="user_filter_frame">
        <div *ngFor="let config of tableConfig[dataType].filters">
            <mat-form-field appearance="outline">
                <mat-label>{{config | titlecase }}</mat-label>
                <input matInput [(ngModel)]="filterValues[config].value" (ngModelChange)="applyFilter()"
                    placeholder="Placeholder">
            </mat-form-field>
        </div>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="filterValues.name.value" (ngModelChange)="applyFilter()"
                placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Strasse</mat-label>
            <input matInput [(ngModel)]="filterValues.street.value" (ngModelChange)="applyFilter()"
                placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PLZ</mat-label>
            <input matInput [(ngModel)]="filterValues.postelcode.value" (ngModelChange)="applyFilter()"
                placeholder="Placeholder">
        </mat-form-field> -->
    </div>

    <div class="alphabet_index_filter">
        <button *ngFor="let letter of alphabet" (click)="setFilter(letter)"
            [class.activ]=" letter == filterValues['startsWith'].value">{{letter}}</button>
    </div>

    <div>
        <mat-paginator [length]="dataFiltered.length" [hidePageSize]="true" [showFirstLastButtons]="true"
            [pageSize]="25" aria-label="Select page" (page)="onPageChange($event)">>
        </mat-paginator>
        <table class="table">
            <thead>
                <tr class="tabel_head">
                    <th *ngFor="let config of tableConfig[dataType].columnName">{{config | titlecase}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataShow">
                    <td *ngFor="let config of tableConfig[dataType].columns">{{ data | nested:config }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>